body {
  background-color: #f4eddf;
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  align-items: center;
  text-align: center;
  top: 100px;

}

#other {
  position: fixed;
  align-items: center;
  top:20px;
  width: 60px;
  height: 40px;
}

#reset{ 
  position: relative;
  left: 15px ;
  top: 30px;
}

#reset:hover {
  transition: 0.5s;
  cursor: pointer;
  color:#aaaaaa;
}

.a:hover {
  transition: 0.5s;
  cursor: pointer;
  color:#aaaaaa;
}

#play{ 
  position: relative;
  left:-15px;
  top: 48px;
}

#play:hover {
  transition: 0.5s;
  cursor: pointer;
  color:#aaaaaa;
}

#pause:hover {
  transition: 0.5s;
  cursor: pointer;
  color:#aaaaaa;
}

#display{ 
  font-size: 25pt;
  position: relative;
  top: 40px;
}

#pom {
  position: relative;
  top: 40px;
}

#short{
  position: relative;
  top: 40px;
}

#long {
  position: relative;
  top: 40px;
}

