body {
  background-color: #f4eddf;
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
}

#reset{ 
  position: absolute;
  width: 11px;
  height: 11px;
  left: 66px;
  top: 82px; 
}

#reset:hover {
  transition: 0.5s;
  cursor: pointer;
  color:#aaaaaa;
}

.a:hover {
  transition: 0.5s;
  cursor: pointer;
  color:#aaaaaa;
}

#play{ 
  position: absolute;
  width: 11px;
  height: 11px;
  left: 46px;
  top: 82px;
}

#play:hover {
  transition: 0.5s;
  cursor: pointer;
  color:#aaaaaa;
}

#pause:hover {
  transition: 0.5s;
  cursor: pointer;
  color:#aaaaaa;
}

#display{ 
  font-size: 30pt;
  left:-20px;
  position: absolute;
  width: 86px;
  height: 21px;
  left: 18px;
  top: 33px;
}

#pom {
  position: absolute;
  width: 120px;
  height: 80px;
  left: 142px;
  top: 10px;
}

#short{
  position: absolute;
  width: 120px;
  height: 80px;
  left: 137px;
  top: 40px;
}

#long {
  position: absolute;
  width: 120px;
  height: 80px;
  left: 138px;
  top: 70px;
}
