body {
  background-color: #f4eddf;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  align-items: center;
}

.container {
  display: grid; 
  position: relative;
  top:-95px;
  grid-auto-columns: 1fr; 
  grid-template-columns: 3.4fr 1.1fr 1.6fr 3.4fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 2px 2px; 
  grid-template-areas: 
    ". . . ."
    ". timer other ."
    ". . . ."; 
}

.timer {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-rows: 1.3fr 0.7fr; 
  gap: 0px 0px; 
  grid-area: timer; 
}

.but {
  display: grid; 
  grid-template-columns: 6fr 1fr 1fr 1.5fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . ."
    ". play reset ."
    ". . . .";
  grid-area: 2 / 1 / 3 / 2; 
}

.other{ 
  grid-area: other;
  text-align: top; 
}

#reset{ 
  grid-area: reset; 
}

#reset:hover {
  transition: 0.5s;
  cursor: pointer;
  color:#aaaaaa;
}

.a:hover {
  transition: 0.5s;
  cursor: pointer;
  color:#aaaaaa;
}

#play{ 
  grid-area: play;
}

#play:hover {
  transition: 0.5s;
  cursor: pointer;
  color:#aaaaaa;
}

#pause:hover {
  transition: 0.5s;
  cursor: pointer;
  color:#aaaaaa;
}

#display{ 
  grid-area: 1 / 1 / 2 / 2; 
  font-size: 30pt;
}
